<h5 mat-line>Version 1.20</h5>
<h6 mat-line>September 28, 2018</h6>
<ul>
    <li>created modal windows for viewing images</li>
</ul>
<mat-divider></mat-divider>
<h5 mat-line>Version 1.11</h5>
<h6 mat-line>September 16, 2018</h6>
<ul>
    <li>added resizing capabilities to gallery and albums</li>
      <ul>
        <li>as the window size changes, the amount of columns shown for the galery and album changes</li>
      </ul>

    <li>added resizing for to top nav</li>
    <ul>
        <li>as the window size changes, the top nav will either be a drop down button or full links</li>
      </ul>
</ul>
<mat-divider></mat-divider>
<h5 mat-line>Version 1.10</h5>
<h6 mat-line>September 04, 2018</h6>
<ul>
  <li>created gallery component</li>
  <li>create login component</li>
  <li>created admin page component (only visible after login)</li>
  <li>connected upload component of the gallery to Firebase</li>
  <li>connected login with Firebase</li>
  <li>connected gallery to Firebase</li>
  <li>deployed angular website to Firebase</li>
</ul>
<mat-divider></mat-divider>
<h5 mat-line>Version 1.00</h5>
<h6 mat-line>August 20, 2018</h6>
<ul>
  <li>created home page component</li>
  <li>created value calculator component</li>
  <li>create version page</li>
</ul>

