<!--The content below is only a placeholder and can be replaced.-->
<app-mynavbar></app-mynavbar>

<div class="container">
    <!-- <div class="row">
        <app-mynavbar></app-mynavbar>
    </div> -->

   
    <router-outlet></router-outlet>
        <!-- <div >
            <router-outlet></router-outlet>
                <app-calculate-value></app-calculate-value>
                 <h2>
                    Im Working!
                </h2>
                <input type="text" [(ngModel)]="name">
                <p>{{name}}</p> 
        </div> -->
   

</div>